html{
  overflow-x: hidden;
  overflow-y: auto;
}
body{
  margin: 0;
  padding: 0;
}
.page{
  position: absolute;
  top: 0;
  height: 95%;
  width: 100%;
  background-color: pink;
}
.footer{
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: lightblue;
}

.title_container{
  position: relative;
  margin: 10px auto;
  height: 50px;
  width: 300px;
  background-color: lightgreen;
  border-radius: 15px;
}
#title{
  font-family: monospace;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.presets{
  margin: 20px auto;
  height: 100px;
  width: 80%;
  background-color: orange;
  border-radius: 20px;
}
.select_container{
  text-align: center;
}
.presets button{
  display: inline-block;
  margin: 0 20px;
  position: relative;
  top: 15px;
  height: 70px;
  width: 160px;
  font-family: monospace;
  font-size: 32px;
  font-weight: 700;
  background-color: lightblue;
  border-radius: 15px;
  border: 3px solid black;
}

.timer_container{
  margin: 0 auto;
  height: 200px;
  width: 60%;
  background-color: beige;
  border-radius: 20px;
}
#timerClock{
  font-size: 80px;
  text-align: center;
  position: relative;
  top: 60px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.toolbar_container{
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 100px;
  width: 80%;
  background-color: coral;
  border-radius: 15px;
}
.buttons_container{
  text-align: center;
}
.toolbar_container button{
  display: inline-block;
  height: 70px;
  width: 150px;
  background-color: lightblue;
  font-family: monospace;
  font-size: 32px;
  position: relative;
  top: 15px;
  margin: auto 20px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}


.footer a{
  text-decoration: none;
  position: relative;
  top: 8px;
  margin-left: 10px;
  font-family: monospace;
  color: white;
  font-weight: 800;
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
